
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    HEADER
*/


/*
    FRAMEWORK
*/

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col15{
    width: 15%
}

.col70{
    width: 70%
}


/*
    DEBUG
*/





.nav-container{
    width: 1200px;
    background-color: rgb(218, 165, 32);
    min-height: 40px;
} 

.nav-container > *{
    height: 40px;
}

.login{
    border-left: 2px dashed black;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 0 5px;
}

.logo{
    border-right: 2px dashed black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 0 3px;

}

.link{
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-top: none;
    border-bottom: none;
}

.box{
    width: 1000px;
    height: 400px;
    background-color: plum;
}





section div, section nav, section section{
    border: 2px dashed black;
}