
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/


/*
    HEADER
*/


/*
    FRAMEWORK
*/

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col20{
    width: 20%
}

.col60{
    width: 60%
}

.col40{
    width: 40%
}

.col70{
    width: 70%
}

.col30{
    width: 30%
}

.padding50{
    padding: 50px 0;
}

/*
    DEBUG
*/



/* HEADER DEBUG */

.top-header{
    min-height: 70px;
    background-color: rgb(79, 186, 227);
}

.bot-header{
    min-height: 400px;
    background-color: rgb(0, 0, 139);
}

.nav-container{
    width: 1000px;
    background-color: rgb(218, 165, 32);
    min-height: 40px;
} 

.nav-container > *{
    height: 40px;
    border: 2px dashed black;
}

.login, .logo{
    padding: 0 5px;
}

.bot-header > .main-box{
    background-color: rgb(238, 130, 238);
}


/* MAIN DEBUG */

main > div:nth-child(2n + 2){
    background-color: lightgray;
}

.main-box > section{
    border: 2px dashed black;
}

.pink{
    background-color: pink;
    height: 450px;
}

.blue{
    background-color: dodgerblue;
    height: 450px;
}

.main-box.green{
    min-height: 900px;
    background-color: green;
    border: 2px dashed black;
}


/* FOOTER DEBUG */

.top-footer{
    background-color: rgb(35, 39, 42);
    padding: 10px 0 30px 0;
    border-bottom: 2px solid gray;
} 

.coral{
    background-color: lightcoral;
}
    
.col-footer{
    width: 25%;
    border: 2px dashed white;
    background-color: cadetblue;
}

.bot-footer{
    background-color: rgb(35, 39, 42);
    padding-top: 20px;
}

.nav_footer-container{
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    height: 80px;
    background-color: aquamarine;
}

.element-footer{
    padding: 5px;
    background-color: lightcoral;
}


/* GENERAL DEBUG */

section div, section section{
    border: 2px dashed black;
}

.main-box{
    min-width: 1000px;
    height: 450px;
}

.main-box *{
    height: 100%;
}